<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel Planner - Homepage</title>
    <link rel="stylesheet" href="./css/homepage.css" />
  </head>
  <body>
    <% if (! travelSession) {%>
    <script>
      window.alert("Please Login First.");
      window.location.href = "/";
    </script>
    <% } else { %>
    <div id="userIdContainer" style="display: none">
      <%= travelSession.userId %>
    </div>

    <div class="menu-bar">
      <div class="logo">
        <h3>Travel Planner</h3>
      </div>
      <div class="menu-options">
        <a href="/new" id="createNewPlan">Create New Plan</a>
        <a href="/action" id="viewActions">Actions</a>
        <a href="/logout">Logout</a>
      </div>
      <div class="hamburger-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <h3>High Priority Tasks</h2>
    <div class="travel-plans-container" id="travelPlansContainerHigh">
      <!-- Travel plans will be dynamically added here -->
    </div>
    <h3>Low Priority Tasks</h2>
    <div class="travel-plans-container" id="travelPlansContainerLow">
      <!-- Travel plans will be dynamically added here -->
    </div>
    <h3>Previous Tasks</h2>
    <div class="travel-plans-container" id="travelPlansContainerPrevious">
      <!-- Travel plans will be dynamically added here -->
    </div>

    <script src="./js/homepage.js"></script>
    <% } %>
  </body>
</html>
