body {
  font-family: "Arial", sans-serif;
  margin: 0;
}

.menu-bar {
  background-color: #45a049;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.menu-bar h3 {
  margin: 10px;
}

.menu-options {
  display: flex;
  gap: 20px;
}

/* Add these styles to customize the appearance of travel plans */
.travel-plan {
  border: 1px solid #ccc; /* Border around the plan */
  background-color: #9bf198; /* Slightly different background color */
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  text-align: center; /* Center-align text */
}

/* Style for h3 elements */
h3 {
  font-size: 20px; /* Adjust the font size as needed */
  color: #333; /* Text color */
  margin-bottom: 10px; /* Add some space below the heading */
  padding-left: 30px;
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 1px; /* Add a bit of letter spacing */
}

/* Additional styling for better aesthetics */
.travel-plans-container {
  padding: 20px;
  border-radius: 8px; /* Add rounded corners to the container */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
  margin-bottom: 20px; /* Add space between sections */
}

.menu-options a {
  color: #fff;
  text-decoration: none;
}

/* Hamburger Icon */
.hamburger-icon {
  display: none;
  cursor: pointer;
}

.hamburger-icon span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
}

.travel-plans-container {
  padding: 20px;
}

/* Media query for responsive menu */
@media screen and (max-width: 768px) {
  .menu-options {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #45a049;
    z-index: 1;
  }

  .menu-options a {
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }

  .menu-options.show {
    display: flex;
  }

  .hamburger-icon {
    display: block;
  }
}
